{% extends 'shared/base.html' %}
{% block title %} Home {% endblock %}
{% block head %}
    <style>
        /* The below line will help to load the loader gif while user enter keywords for interactivity */
        .ui-autocomplete-loading {
            background: white url("static/img/gif/ui-anim_basic_16x16.gif") right center no-repeat;
        }
    </style>

    <!-- Datatable addon import -->
    <script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">

    <!-- Fontawesome addon CSS import -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">

    <!-- CanvasJs addon import -->
    <script src="{{ url_for('static', filename='js/canvasjs.stock.min.js') }}"></script>

    <!-- Site level module import -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/alphavantage.js') }}"></script>
{% endblock %}
{% block body %}
<div>
    <!-- The top search text box to enter keywords -->
    <div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="company">Company:</label>
                    <input type="email" class="form-control" id="company" placeholder="Type your keywords here..">
                </div>
            </div>
        </div>
    </div>
    <!-- The stock details card -->
    <div class="card" id="details">
        <h5 class="card-header">Stock details </h5>
        <div class="card-body">
          <div>
            <!-- The additional details block -->
            <h5 class="card-title">Additional Details</h5>
            <p class="card-text">
                <table id="additionalDetails" class="table table-striped">
                    <thead>
                      <tr>
                          <th>Symbol</th>
                          <th>Name</th>
                          <th>Type</th>
                          <th>Region</th>
                          <th>Market Open</th>
                          <th>Market Close</th>
                          <th>Timezone</th>
                          <th>Currency</th>
                          <th>Match Score</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </p>
          </div>
          <div class="mb-5">
            <!-- The Box-plot chart block -->
            <h5 class="card-title">Box-plot timeline chart</h5>
            <p class="card-text">
              <div class="form-group col-md-5">
                  <label for="intervals">Intervals:</label>
                  <select id="intervals" class="form-control">
                      <optgroup label="Intraday">
                        <option value="intraday/1min">1Min</option>
                        <option value="intraday/5min">5Min</option>
                        <option value="intraday/15min">15Min</option>
                        <option value="intraday/30min">30Min</option>
                        <option value="intraday/60min">60Min</option>
                      </optgroup>
                      <option value="daily" selected>Daily</option>
                      <option value="weekly">Weekly</option>
                      <option value="monthly">Monthly</option>
                  </select>
              </div>
              <div id="chartContainer" style="height: 400px; width: 100%;">Loading...</div>
            </p>
          </div>
          <div class="mt-4">
            <!-- The Current quote details block -->
            <h5 class="card-title">Current quote</h5>
            <p class="card-text">
                <div id="quote"></div>
            </p>
          </div>
          <div class="mt-4">
            <!-- The indicator results block -->
            <h5 class="card-title">Indicator Results</h5>
            <p class="card-text">
                <table id="indicatorResults" class="table table-striped">
                    <thead>
                      <tr>
                          <th>SMA</th>
                          <th>Date</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </p>
          </div>
        </div>
    </div>
</div>
{% endblock %}